#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. Java
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python
1. addition: "2+5"
2. subtruction:"10-9"
3. multiplication:"5*5"

In [7]:
#This a simple arithmetic expression to mutiply then add integers
result=(3*4)+5
result

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hour= minutes / 60
hour

3.3333333333333335

**Objectives**

### List popular languages for Data Science
- Demonstrate arithmetic expression examples in Python
- Convert units (e.g., minutes to hours) using Python code
- Identify key Data Science tools and environments
- Create and format tables in markdown cells

## Author 
Ya Hsien Lin Huang